body{
    background-color: #D3D3D3;
}

header{
    background-color: rgb(205, 86, 50);
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

nav{
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

a{
    background-color:rgb(200, 238, 104);
    border-radius: 10px;
    padding: 10px;
    color: black;
}

section{
    background-color: rgb(0, 121, 250);
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

h4{
    background-color: wheat;
    margin: 10px;
    border-radius: 5px;
    padding: 3px;
}

p{
    background-color: rgb(255, 134, 134);
    border-radius: 10px;
    padding: 5px;
}